{% extends 'core/base.html' %}
{% load static %}
{% block body %}

<div class="col-md-6">
    {% for object in posts %}
    <div class="card">
        <div class="card-header">
            <img src="{{ object.thumbnail.url }}" alt="" class="img-responsive">
        </div>
        <div class="card-body">
            <a href="{% url 'detail' pk=object.pk %}">
                <h5 class="card-title">{{ object.title }}</h5>
            </a>
            <p class="card-text">{{ object.content }}</p>
        </div>
    </div><br>
    {% endfor %}
</div>

{% endblock %}